<div class="container text-center" style="margin-top:10%">
 
<h1 style="color:#fff;font-size: 5em;">
   WELCOME TO ROCK FOR DIMES!
</h1>
<hr>
<h2 style="color:#fff;">
  Vote & Donate to your favourite bands today!
</h2>
 
 
<div class="row">
<div class="col-md-8.col-md-offset-2 col-sm-12">Rock for Dimes is a corporate battle of the bands held to benefit March of Dimes Canada's programs and services for children and adults with disabilities. Amateur musicians compete in this friendly fundraiser for the title of their city's best corporate band and showcase their talents in front of a roster of Canadian music industry professionals.  </div>
</div>
<br>
 
<h3>
<button type="button" class="btn-lg btn-warning"><span  style="color: white;text-decoration: none;"><%= link_to('VOTE NOW!', 'vote', html_options = {}) %></span></button>
<button type="button" class="btn-lg btn-success"><span  style="color: white; text-decoration: none;"><%= link_to('DONATE TO MARCH OF DIMES!', 'http://marchofdimes.ca/EN/Pages/default.aspx', html_options = {}) %></span></button>
</h3>
 
</div><!-- end of band-->

<footer><br>
    <center>
        This web app was developed by <a href="https://github.com/vanessalum">Vanessa</a>, <a href="https://github.com/RuiJieW">Rui Jie</a>, <a href="https://github.com/amerisrudland">Ameris</a>, and <a href="https://github.com/noamhacker">Noam</a>.
    </center>
</footer>