<div class="container">

<h1>
   About Rock For Dimes!
</h1>
<h2>
  Vote & Donate to your favourite bands today!
</h2>


<div class="row"> 
<div class="col-md-12">Rock for Dimes is a corporate battle of the bands held to benefit March of Dimes Canada's programs and services for children and adults with disabilities. Amateur musicians compete in this friendly fundraiser for the title of their city's best corporate band and showcase their talents in front of a roster of Canadian music industry professionals.  </div>
</div>
<br>
<div class="band"
    <div class="row">
  <div class="col-md-4">
      <div class="band-img">
      This will be an image. </div></div>
  <div class="col-md-8 band-info">  <div class="">This is some information</div></div>
</div><!-- end of band-->
</div>
