<div class="container">

<h1>
   WELCOME TO ROCK FOR DIMES!
</h1>
<hr>
<h2>
  Vote & Donate to your favourite bands today!
</h2>


<div class="row"> 
<div class="col-md-12 col-sm-12">Rock for Dimes is a corporate battle of the bands held to benefit March of Dimes Canada's programs and services for children and adults with disabilities. Amateur musicians compete in this friendly fundraiser for the title of their city's best corporate band and showcase their talents in front of a roster of Canadian music industry professionals.  </div>
</div>
<br>
<div class="band">

<div class="row">
  <div class="col-md-3 col-sm-12 band-img img-responsive">
      </div>
  <div class="col-md-9 col-sm-12 band-info">  
      <h2>DRAKE</h2>
          <span class="rating">
            <h3>Average Score:
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             </h3>
          </span>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie est lacus, ac 
      tristique leo ornare nec. Maecenas urna orci, pellentesque id viverra a, ullamcorper vel metus. </p>
      
      <div class="btn-group" role="group" aria-label="...">
   
      <button type="button" class="btn btn-lg btn-success">DONATE</button>
      <button type="button" class="btn btn-lg btn-info">VOTE NOW</button>
      <button type="button" class="btn btn-lg btn-warning">SHARE</button>
      </div>
  </div>
</div><!-- row-->
  </div><!--end of band-info-->

</div><!-- end of band-->
