<div class="container">

<h1>
   WELCOME TO ROCK FOR DIMES!
</h1>
<hr>
<h2>
  Vote & Donate to your favourite bands today!
</h2>


<div class="row"> 
<div class="col-md-12 col-sm-12">Rock for Dimes is a corporate battle of the bands held to benefit March of Dimes Canada's programs and services for children and adults with disabilities. Amateur musicians compete in this friendly fundraiser for the title of their city's best corporate band and showcase their talents in front of a roster of Canadian music industry professionals.  </div>
</div>
<br>

<h3>
<button type="button" class="btn-lg btn-warning"><span class="no_link;" style="color: white;"><%= link_to('Vote now!', 'vote', html_options = {}) %></span></button>
</h3>
<h3>
<button type="button" class="btn-lg btn-success"><span class="no_link;" style="color: white;"><%= link_to('Donate to March of Dimes!', 'http://marchofdimes.ca/EN/Pages/default.aspx', html_options = {}) %></span></button>
</h3>

</div><!-- end of band-->