<% @list.each do |b| %>

    
    <div class="container">
<div class="row">
  <div class="col-md-3 col-sm-12 band-img img-responsive">
      </div>
  <div class="col-md-9 col-sm-12 band-info">  
      <h2><%= b.name%></h2>
          <span class="rating">
            <h3>Average Score:
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             </h3>
          </span>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie est lacus, ac 
      tristique leo ornare nec. Maecenas urna orci, pellentesque id viverra a, ullamcorper vel metus. </p>
      
      <div class="btn-group" role="group" aria-label="...">
   
      <button type="button" class="btn btn-lg btn-success">DONATE</button>
      <button type="button" class="btn btn-lg btn-info">VOTE NOW</button>
      <button type="button" class="btn btn-lg btn-warning">SHARE</button>
      </div>
  </div>
</div><!-- row-->
</div>
    
    
<% end %>