<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   'https://codejam-vanessalum.c9users.io/static_pages/home' %></li>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</header>