<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Rock For Dimes", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Home', '/', html_options = {})%></li>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</header>