<header class="navbar navbar-fixed-top">
  <div class="container">
<%= link_to image_tag("MFD_logo.png", alt: "MFD logo"),
            '#' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME",   'https://codejam-vanessalum.c9users.io/static_pages/home' %></li>
        <li><%= link_to "ABOUT",   '#' %></li>
        <li><%= link_to "CONTACT", '#' %></li>
      </ul>
    </nav>
  </div>
</header>